body {
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);
  height: 100vh;
}

.rounded-lg {
  border-radius: 1rem;
}

.upload {
  margin-top: 35%;
}

.center{
    text-align: center;
}
.fa-arrow-alt-circle-left {
  margin-top: 30px;
  font-size: 2.7em;
  color: #007bff;
}

.fa-arrow-alt-circle-left:hover {
  color: #00B4DB;
}


