{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/upload.png' %}">
    <title>Contact Book {% block title%} {% endblock title %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
</head>
<body>

<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>