{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
        <h1>Upload Contacts</h1>
    </div>
</div>

<div class="p-5 bg-white shadow rounded-lg">
    <img src="{% static 'images/upload.png' %}" alt="" width="130" class="d-block mx-auto mb-4 rounded-pill">
    <form action="" method="POST" id="fileUploadForm" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

{% endblock content %}
