{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="p-5 bg-white shadow rounded-lg upload">
    <div class="messages center">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <h6 class="text-primary">
                        {{ message }}
                    </h6>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="link-to-upload center">
        <a href="{% url 'contacts_upload' %}">
            <span><i class="fas fa-arrow-alt-circle-left" data-toggle="tooltip" data-placement="top" title="Back to Upload Page"></i></span>
        </a>
    </div>
</div>

{% endblock content %}